header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 30px 25%;
    border-radius: 20px;
    background-color: tomato;
}

ul {
    display: flex;
    list-style: none;
    padding: 10px 0;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 2em;
    color: ghostwhite;
}

a:hover {
    color: green;
}

li {
    display: flex;
    justify-content: center;
    width: 25%;
}