* {
    margin: 0;
}

body {
    background-color: bisque;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 30px 25%;
    border-radius: 20px;
    background-color: tomato;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    font-size: 2em;
    color: ghostwhite;
}

a:hover {
    color: green;
}

nav li {
    display: flex;
    justify-content: center;
    width: 25%;
}

#promotion {
    margin: 0 25% 20px;
    height: 250px;
    background-image: url(./images/fireworks-bg.jpg);
    border-radius: 20px;
}

h1 {
    color: white;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 25px;
    padding-top: 20px;
}

#promotion article p {
    color: white;
    text-shadow: black 2px 2px;
    font-size: 2em;
    padding-left: 25px;
    margin: 50px 0;
}

#information {
    display: flex;
    justify-content: space-between;
    margin: 30px 25%;
}

#information article {
    width: 32%;
    background-color: tomato;
    border-radius: 20px;
    padding-bottom: 20px;
}

h2 {
    color: white;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 5px;
}

#information img {
    display: block;
    margin: 15px auto;
}

#information p {
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
    margin-bottom: 15px;
}

#information a {
    margin-left: 10px;
    font-size: 18px;
}

#information ul {
    color: white;
    font-size: 20px;
    list-style: none;
    margin-top: 50px;
    padding-left: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 25%;
}
